*{
    margin: 0;
    padding: 0;
}



header{
    background-color: #FF1493;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;

}


    .cabecalho-lista-item{
        display: inline-block;
        margin: 10px 150px;
        font-size: 45px;
   
    }
    .vichi{
        background-image: linear-gradient(#FFFFF0,#FFFFF0);
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }
    
    .vichi-div-conteudo{
        width: 73%;
        font-size: 20px;
    }
    .vichi-titulo{
        padding: 24px 0;
    }
    
        



    
